<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="2 seconds" debug="false">

    <!-- spring-boot -->
    <!-- 참고: include resource="org/springfreamwork/boot/logging/logback/base.xml"  -->
    
    <include resource="org/springfreamwork/boot/logging/logback/defaults.xml" />
    <springProperty scope="context" name="springAppName" source="spring.application.name" />
    <springProperty scope="context" name="serverProfile" source="spring.profiles.active" />

    <jmxConfigurator/>

    <springProfile name="production">
        <include resource="logback-production.xml" />
    </springProfile>

    <springProfile name="staging">
        <include resource="logback-staging.xml" />
    </springProfile>

    <springProfile name="development">
        <include resource="logback-development.xml" />
    </springProfile>

    <springProfile name="local">
        <include resource="logback-local.xml" />
    </springProfile>

</configuration>

